<div class="container-about">
        <!-- Who we are -->
    <div class="div-who">
        <div>
            <h1 class="h1-who">¿Quién somos?</h1>
        </div>
        <div class="div-who-2">
            <h2 class="h2-who">Haltbar es una empresa con años de trayectoria, que brinda a sus clientes soluciones prácticas en sistemas de climatización.</h2>
            <p class="p-who">Nos especializamos en sistemas de climatización por agua, incluyendo piso radiante, radiadores, fan-coils, agua caliente central y climatización de piscinas (solar, gas o electricidad). Estos sistemas están diseñados para acondicionar toda su casa de manera eficiente y con el máximo control de la temperatura en todos los ambientes. Usted tendrá un clima agradable en todas las áreas de su hogar, ahorrando energía y dinero de una manera inteligente.</p>
        </div>
    </div>

        <!-- Images -->
    <div class="img-about">
        <img src="../images/Haltbar-1.png" alt="haltbar1" class="about-image-1">
        <img src="../images/Haltbar-2.png" alt="haltbar2" class="about-image-2">
    </div>

        <!-- Explanation of our services -->
    <div class="div-system">
        <div>
        <h1 class="h1-system">¿POR QUÉ EL SISTEMA DE CLIMATIZACIÓN POR AGUA ES SUPERIOR?</h1>
        </div>
        <div class="row div-about">
            <div class="div-about-image-1">
            </div>
            <div class="col-lg-6">
                <h2 class="h2-about">
                    Confort y bienestar</h2>
                <p class="p-about">
                    Según la American Society of Heating, Refrigerating and Air Conditioning Engineers (ASHRAE) "el confort es el estado físico y mental del bienestar que una persona tiene en relación con su medio ambiente”.<br>
                </p>
            </div>
        </div>
        <div class="row div-about">
            <div class="div-about-image-2">
            </div>
            <div class="col-lg-6">
                <h2 class="h2-about">Avance tecnologico</h2>
                <p class="p-about">Tras numerosos estudios sobre las distintas tecnologías de climatización se ha llegado a la conclusión de que los sistemas por agua caliente, correctamente dimensionados y acompañados de las tecnologías de punta,son un avance esencial para maximizar el confort hogareño.<br>
                </p>
            </div>
        </div>
        <div class="row div-about">
            <div class="div-about-image-3">
            </div>
            <div class="col-lg-6">
                <h2 class="h2-about">Economia</h2>
                <p class="p-about">
                    Con la realizacion de balances correspondientes, examinando en detalle las exigencias que cada proyecto presenta, se puede lograr :<br>
                    <ul class="p-about">
                    <li>Optimizar el funcionamiento.</li>
                    <li>Maximizar el confort.</li>
                    <li>Disminuir el consumo.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

        <!-- Experience -->
    <div class="div-experience">
        <div class="div-experience-1">
            <h2 class="h2-experience">Cotiza tu obra con Nosotros</h2>
            <img src="images/logo-gratis.png" alt="free" class="experience-image-free">
        </div>
        <div class="div-experience-2">
            <div class="div-experience-2-1">
                <img src="../images/logo-tip.png" alt="tip" class="experience-image-tip">
                <h3 class="h3-experience">Amplia Experiencia</h3>
            </div>
            <div class="div-experience-2-2">
                <img src="../images/logo-mas.png" alt="mas" class="experience-image-mas">
                <h3 class="h3-experience">de 1000 obras realizadas</h3>
            </div>
        </div>
        <div class="div-experience-3">
            <a class="contact-experience" href="#contact">Contacto</a>
            <img src="images/logo-gratis.png" alt="free" class="experience-image-free-contact">
        </div>
        <div class="div-experience-4">
            <div class="grid-item">
                <img src="images/caldera-2.png" alt="Calderas">
                <h3>Calderas</h3>
            </div>
            <div class="grid-item">
                <img src="images/radiador-1.png" alt="Radiadores">
                <h3>Radiadores</h3>
            </div>
            <div class="grid-item">
                <img src="images/piso-radiante-1.png" alt="Piso radiante">
                <h3>Piso radiante</h3>
            </div>
            <div class="grid-item">
                <img src="images/solar-1.png" alt="Solares">
                <h3>Solares</h3>
            </div>
            <div class="grid-item">
                <img src="images/termostato-2.png" alt="Termostatos">
                <h3>Termostatos</h3>
            </div>
            <div class="grid-item">
                <img src="images/otros-1.png" alt="Y mas...">
                <h3>Y mas...</h3>
            </div>
        </div>
    </div>
</div>