    <div class="container-info">
        <div class="d-flex flex-column">
        <!-- Map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26321.482634197!2d-58.7815579!3d-34.4474431!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9f33bf91d1b3%3A0x2c217f65a78cbd69!2sHaltbar%20calefaccion%20y%20climatizacion%20PEISA%20Ofitt%20Rehau%20Giacomini!5e0!3m2!1ses-419!2sar!4v1725037308993!5m2!1ses-419!2sar" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <!-- content -->
            <div class="row div-gray div-info">
                <div class="div-image-1">
                </div>
                <div class="col-lg-6">
                    <h2 class="h2-info">Piso Radiante</h2>
                    <h3 class="h3-info-gray">¿Qué es y como funciona?</h3>
                    <p class="p-info">Los sistemas de climatización por piso radiante basan su funcionamiento en una red de tubería, instalada a partir de la platea o losa de la obra.<br>
                    Sobre esta base se coloca el aislante que beneficiará la difusión de la energía hacia la superficie impidiendo que se pierda en la base de la obra o transmita de un nivel al otro. Sobre la aislación se coloca una malla electrosoldada y las tuberías por las que circulara el agua para climatizar la vivienda,lo que provoca que el calor se irradie desde elsuelo.<br>
                    <br>
                    La climatización por piso radiante es ideal para viviendas de uso continuo o bien lugares con alturas mayores a los 3 metros. Esto se debe a que la temperatura se irradia desde la base generando que en la altura sensible o de incidencia se conserve la energia.</p>
                </div>
            </div>
            <div class="row div-white div-info">
                <div class="col-lg-6">
                    <h2 class="h2-info">Radiadores</h2>
                    <h3 class="h3-info-white">¿Qué es y como funciona?</h3>
                    <p class="p-info">El sistema de calefacción por radiadores consiste en hacer circular el agua caliente, generada por una caldera, mediante una red de cañerías, hasta los radiadores ubicados en cada ambiente. Los radiadores, fabricados en aleación de aluminio, intercambian por convección natural el calor al ambiente.<br>
                    <br>
                    La calefacción mediante radiadores es un sistema sencillo y apto para cualquier tipo de vivienda. Este tipo de instalación también es ideal para obras terminadas o en remodelación. Con un pequeño canaleteo por el perímetro de la obra puede abastecerse a los radiadores desde la caldera sin dañar el interior de la casa.<br>
                    <br>
                    La gran variedad de diseños, alturas y potencias de radiadores permiten satisfacer las necesidades que requiera cada ambiente.</p>
                </div>
                <div class="div-image-2">
                </div>
            </div>
            <div class="row div-gray div-info">
                <div class="div-image-3">
                </div>
                <div class="col-lg-6">
                    <h2 class="h2-info">Climatización Solar</h2>
                    <h3 class="h3-info-gray">¿Qué es y como funciona?</h3>
                    <p class="p-info">La generación de agua caliente sanitaria con energía solar térmica es una de las aplicaciones más eficientes y económicas entre las energías renovables. Un sistema termosolar tradicional se dimensiona para suplir las necesidades anuales de agua caliente tanto para una residencia, como para un club o un centro comercial entre otras alternativas de aplicación.<br>
                    <br>
                    Tambien se utiliza para piscinas. Esta se genera a partir de una fuente limpia, abundante y renovable: el sol. Con ésta tecnología se logra generar energía no contaminante y, como el sistema no necesita ningún tipo de apoyo, a un costo de utilización es nulo.<br>
                    <br>
                    Prolonga el uso de piscinas residenciales, desde el mes de octubre hasta abril.</p>
                </div>
            </div>
            <div class="row div-white div-info">
                <div class="col-lg-6">
                    <h2 class="h2-info">Calderas</h2>
                    <h3 class="h3-info-white" style="margin-left: 3em;">Y agua caliente sanitaria</h3>
                    <p class="p-info">La línea de soluciones para la provisión de agua caliente sanitaria (ACS) brinda una solución eficiente y a la medida de cada necesidad. Haltbar trabaja en proyectos diversos, desde casas unifamiliares, hasta grandes obras o gimnasios y spas.<br>
                    <br>
                    El rendimiento de las calderas y boilers que nuestra empresa instala brinda toda el agua que usted necesita a una temperatura constante, detectando hasta las más mínimas variaciones de caudales y ajustando automáticamente la temperatura deseada.</p>
                </div>
                <div class="div-image-4">
                </div>
            </div>
        </div>
    </div>
