<footer>
    <div class="container-footer-gray">
        <div class="social-media">
        <!-- Iconos de redes sociales -->
            <a href="https://maps.app.goo.gl/pZhhyyRYkc8xbBRh8" target="_blank"><img src="/images/logo-maps.png" alt="Google" style="width: 30px; margin-right: 20px;"></a>
            <a href="https://www.instagram.com/haltbar_calefaccion/" target="_blank"><img src="/images/logo-insta.png" alt="instagram" style="width: 30px; margin-right: 20px;"></a>
            <a href="https://www.youtube.com/@haltbarcalefaccion1090" target="_blank"><img src="/images/logo-youtube.png" alt="YouTube" style="width: 30px; margin-right: 20px;"></a>
            <a href="https://wa.me/5491122533474?text=Hola%20quiero%20más%20información" target="_blank""><img src="/images/logo-whats.png" alt="WhatsApp" style="width: 30px;margin-right: 20px;"></a>
        </div>
        <div class="title-footer">
            <!-- Titulo -->
            <h2>Haltbar</h2>
        </div>
        <div class="info-footer">
            <!-- Información de contacto -->
            <div>
                <p>Dirección: Colectora Ramal Pilar Km 41, Del Viso.
                </p>
                <p>Email: <a href="mailto:info@haltbarcalefaccion.com.ar" style="text-decoration:underline;">info@haltbarcalefaccion.com.ar</a>
                </p>
                <p>Contacto: (02320) 40 40 30</p>
            </div>
        </div>
    </div>
    <div class="copyright">
            <!-- Derechos reservados -->
        <p>© HALTBAR. TODOS LOS DERECHOS RESERVADOS. WEB design by Lucas Yankauskas</p>
    </div>
</footer>